// colors
$color-default: #343030;
$color-btn-text: #FFFFFF;
$color-old-price: #A0A0A0;
$color-background: #F6F3F3;
$color-footer: #ECEAEA;
$color-brown: #403432;
$color-brown-hover: #776763;
$color-brown-disable: #C1B4B1;
$color-brown-in-cart: #5B3A32;
$color-border: #E1E1E1;
$color-border-active: #b5b5b5;
$color-placeholder: #9F9F9F;

//fonts
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;

// font sizes
$size-xs: 1.4rem;
$size-sm: 1.6rem;
$size-md: 1.8rem;
$size-lg: 2.4rem;